/*-------box sizing-------*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

/*------utility classes------*/
.container{
    width:70vw;
    margin:40px auto;
}

img{
    max-width:100%;
}

.img-right{
    float:right;
    margin-left: 20px;
    border: 2px solid #c0c0c0;
    padding: 5px;
}

.img-left{
    float:left;
    margin-right: 20px;
    border: 2px solid #c0c0c0;
    padding: 5px;
}

.img-center{
    display:block;
    margin:20px auto;
    border: 2px solid #c0c0c0;
    padding: 5px;
}

body{
    background-color: aquamarine;
}

/*-------global styles-------*/

body {
    font-family: 'Shippori Antique B1', sans-serif;
}

/*color scheme*/

header.primary {
    background:#B1F6CD;
    text-align:center;
    color:#F5C9EC;

    /* Long Form */
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;

    /* T,R,B,L */
    padding: 40px 40px 40px 40px;

    /* Top/Bottom Right/Left */
    padding:40px 40px;
    text-shadow: 2px 2px #000000;

    /* Applies to All Sides */
    padding:40px;
}

header.primary h1{
    font-size:2rem;
    margin:20px 0;
}

header.primary h1 a{
    color:#fff;
    text-decoration:none;
}

header.primary h2{
    font-size: 1.4rem;
}

header.primary nav{
    width:80vw;
    margin:0 auto;
    max-width: 900px;
}
header.primary nav ul{
    /* removes extra space from list item attachements */
    padding:0;

    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
header.primary nav ul li{
    list-style-type:none;
}
header.primary nav ul li a{
    color:#F5EF9A;
    text-decoration:none;
    background-color:black;
    background-color: rgba(0,0,0,.4);
    padding: 8px 16px;
    display: inline-block;
    border-radius:20px;
    transition:5s;
}

header.primary nav ul li a:hover, header.primary nav ul li a:active{
    background-color:rgba(0,0,0,.9)
}



@media screen and (max-width:400px){


    header.primary nav ul{
        flex-direction:column;
    }

    header.primary nav a{
        display:block;
    }

    header.primary nav li{
        margin-bottom:10px;
    }

}

#intro {
    border: 9px groove #7C33F5;
    padding-bottom:1.1rem;
}

#intro h2{
    color:rgb(46, 5, 112);
    border: 9px groove #af8aeb;
}

#content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border-bottom: 1px dotted #c0c0c0;
    padding-bottom: 2.8rem;
}

#content article.post{
    width:30%;
    box-shadow:0 4px 8px rgba(0,0,0,.4);
    padding:10px;
    border-radius:4px;
    font-size:.7rem;
    transition:.5s;
  }

#content article.post:hover{
    box-shadow:0 8px 16px rgba(0,0,0,.4);
}

time.post-date, figcaption, .post-meta{
    text-transform: uppercase;
    color:#c0c0c0;
}

.post figure{
    margin:0;
}

.post img{
    border:1px solid #c0c0c0;
    padding:2px;
    margin: 5px 0;
  }

  .post a{
    color:#3b638b;
  }

  .post a:hover, .post a:active{
      text-decoration: none;
  }

  aside[role="complementary"]{
    background-color: #13978D;
    color: #ffffff;
    padding:1.8rem;
  }

  aside div.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  aside article.widget{
      width:44%
  }

  article.widget a{
      color:white;
      display: block;
      margin-top: 1.2rem;
      text-align: right;
  }

  article.widget footer{
  display:none;
  }

  #colophon{
      background-color:#af8aeb;
  }

#additional-elements h2{
    color: #7C33F5;
    border-bottom: 1px dotted #c0c0c0;
}

#additional-elements a{
    color: #7C33F5;
}

#additional-elements a:hover{
    text-decoration: none;
}

#additional-elements h3{
    border-left: 8px solid #7C33F5;
    padding: 5px 10px;
}

table{
width:100%;
border:1px solid #c0c0c0;
border-collapse: collapse;
}

tr{}

tr:nth-child(even){
    background-color: #13978D;
}

td:nth-child(2n), td:nth-child(3n){
    text-align: right;
}

tr:hover{
    background-color: #3b638b;
}

th{
    background: #7C33F5;
    color: #F5EF9A;
    width:33%;
    padding: 10px;
}

td{
    border:1px solid #c0c0c0;
    padding: 5px;
}

table caption{
    color: #3b638b;
    padding: 10px;
    font-weight: bold;
    font-size: 1.4rem;
}

